.detalhes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalhes h1 {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
}

.detalhes .imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.detalhes .imagens img {
  max-width: 100%;
  margin-right: 1rem;
}

.detalhes .informacoes {
  margin-top: 2rem;
}

.detalhes .informacoes h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.detalhes .informacoes div {
  margin-bottom: 1rem;
}

.detalhes .informacoes h3 {
  font-size: 1.5rem;
}

.detalhes .informacoes p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.detalhes .comentarios {
  margin-top: 2rem;
}

.detalhes .comentarios h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.detalhes .comentarios ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.detalhes .comentarios li {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
}

.detalhes .comentarios li p:first-of-type {
  margin-bottom: 0.5rem;
}

.detalhes .comentarios li p:last-of-type {
  font-size: 0.8rem;
  color: #666;
}
